@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .container.container-mini {
    width: 100%;
  }
  .logo-link {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 28px;
  }
  .contact {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
  }
  .header-address {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }
  .section-about {
    padding-top: 120px;
  }
  .section-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
  }
  .section-item-about {
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-item {
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-clients {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .clients-list {
    flex-wrap: nowrap;
  }
  .clients-items {
    width: 168px;
  }

  /* footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }
  .footer-logo-section {
    max-width: 264px;
    justify-content: start;
    margin-bottom: 0;
    margin-right: 120px;
    margin-left: 0;
  }

  .online-form {
    margin-left: 0;
    width: 100%;
  }
  .footer-logo-link {
    text-align: start;
  }

  .footer-section {
    text-align: start;
  }
  .footer-soc-icons {
    margin-right: 80px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .footer-online {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 24px;
  }
  .modal-input-online {
    width: 264px;
    margin-top: 16px;
    margin-right: 0;
  }
  .footer-btn {
    width: 165px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .section-item-pics {
    display: none;
  }

  .section-purpose {
    display: none;
  }
}
