@media screen and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab2x.jpg);
    }
  }
  .hero-container {
    max-width: 100%;
  }
  .modal {
    width: 392px;
  }
  .mob-menu {
    width: 100%;
    max-width: 100%;
  }
  .mob-menu-list {
    max-width: 354px;
  }
  .mob-menu-contact {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.9;
    max-width: 354px;
  }
  .mob-soc-list {
    max-width: 354px;
  }
}

/* @media screen and (min-width: 408px) {
  .modal {
    max-width: 408px;
    padding-right: 24px;
    padding-left: 24px;
  } */

/* @media screen and (max-width: 427px) {
  .mob-menu-contact-link {
    font-weight: 600;
    font-size: calc(100vw * 0.075);
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--btn-background-colour);
    transition: color var(--btn-background-active);
  }
  */
