:root {
  --main-colour: #2e2f42;
  --second-colour: #434455;
  --main-background-colour: #ffffff;
  --second-background-colour: #f4f4fd;
  --btn-background-colour: #4d5ae5;
  --btn-background-active: #404bbf;
  --footer-subtitle-colour: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--main-colour);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.our-team-container {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--main-background-colour);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.header {
  background-color: var(--main-background-colour);
  border-bottom: 1px solid var(--footer-subtitle-colour);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-colour);
  display: flex;
  align-items: center;
}
.accent {
  color: var(--btn-background-colour);
}
.logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-colour);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-list {
  display: none;
  padding-top: 24px;
  padding-bottom: 28px;
}

.header-address {
  display: none;
  padding-top: 24px;
  padding-bottom: 28px;
}

/* ---------- Mobile menu ----------*/
.menu-open-btn {
  display: block;
  background-image: url(../images/hamburger.svg);
  width: 30px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.menu-close-btn {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 24px;
  right: 24px;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: var(--footer-subtitle-colour);
  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:is(:hover, :focus) {
  background-color: var(--btn-background-active);
}
.mob-close-icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}
.menu-close-btn:is(:hover, :focus) .mob-close-icon {
  fill: var(--main-background-colour);
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.mob-menu-list {
  margin-bottom: 284px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-colour);
}
.mob-menu-address {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--second-colour); */
}
.mob-menu-contact {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--btn-background-colour);
}
.mob-email-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-colour);
}
.mob-soc-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--btn-background-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover {
  background-color: var(--btn-background-active);
}
.soc-link:focus {
  background-color: var(--btn-background-active);
}

/* ----------- Sections ------------- */

.section-about {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-purpose {
  padding-bottom: 120px;
}
.section-clients {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* -------  Hero ------ */

.hero {
  background-color: var(--main-colour);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob2x.jpg);
  }
}
.hero-container {
  display: flex;
  padding: 0;
  max-width: 100%;
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-background-colour);
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-colour);
  background-color: var(--btn-background-colour);
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: var (--btn-background-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: var(--btn-background-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------- Our team ---------- */

.section-our-team {
  background-color: var(--second-background-colour);
  padding-top: 96px;
  padding-bottom: 128px;
}
.section-title {
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-colour);
  margin-bottom: 72px;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-colour);
  margin-bottom: 8px;
}
.section-team-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-colour);
  margin-bottom: 8px;
}
.section-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-colour);
}
.section-text-ourteam {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-colour);
}
.section-item {
  width: 264px;
}
.section-item-pics {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 264px; */
  height: 112px;
  background-color: var(--second-background-colour);
  border-radius: 4px;
  margin-bottom: 8px;
}
.section-icons-pics {
  width: 60px;
  height: 64px;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--btn-background-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover {
  background-color: var(--btn-background-active);
}
.soc-link:focus {
  background-color: var(--btn-background-active);
}

/* ---------section-clients ------------*/

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.clients-items {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  fill: #8e8f99;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover {
  border-color: var(--btn-background-active);
  fill: var(--btn-background-active);
}
.clients-link:focus {
  border-color: var(--btn-background-active);
  fill: var(--btn-background-active);
}
.clients-icon:hover {
  fill: var(--btn-background-active);
}
.clients-link:focus {
  fill: var(--btn-background-active);
}

/* ---------footer------------- */

.footer {
  background-color: var(--main-colour);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-logo-section {
  max-width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 72px;
}
.footer-logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-background-colour);
  margin-bottom: 16px;
}
.footer-subtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-subtitle-colour);
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}
.footer-soc-icons {
  margin-bottom: 72px;
}
.footer-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-background-colour);
  margin-bottom: 16px;
  text-align: center;
}
/* .footer-soc-icons {
  margin-bottom: 72px;
} */
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.online-form {
  width: 100%;
}
.footer-online {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-form-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-online-form {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-colour);
}
.modal-input-online {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-background-colour);
  margin-top: 16px;
  margin-bottom: 16px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;

  padding: 8px 24px;
  background: var(--btn-background-colour);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-colour);
  border: none;
}
.footer-btn-icon {
  margin-left: 16px;
  width: 24px;
  height: 20px;
}

/* -----------Portfolio------------ */

.portfolio {
  padding-top: 96px;
}
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 72px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-cards {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.portfolio-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-background-colour);
  background-color: var(--second-background-colour);
  cursor: pointer;
  background-color: var(--second-background-colour);
  border: 1px solid var(--footer-subtitle-colour);
  border-radius: 4px;
  height: 48px;
  padding: 12px 24px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover {
  background-color: var(--btn-background-colour);
  color: var(--main-background-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn:focus {
  background-color: var(--btn-background-colour);
  color: var(--main-background-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn:active {
  background-color: var(--btn-background-active);
  color: var(--main-background-colour);
}

.portfolio-section-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-section-item {
  background-color: var(--main-background-colour);
  width: 360px;
  border: 1px solid var(--footer-subtitle-colour);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-item:hover .portfolio-section-text {
  transform: translateY(0%);
}
.portfolio-section-item:focus .portfolio-section-text {
  transform: translateY(0%);
}
.portfolio-section-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-section-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-section-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-section-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-colour);
  padding: 40px 32px;
  background-color: var(--btn-background-colour);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/*------- Modal--------- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  background-color: rgba(46, 47, 66, 0.4);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;

  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 14px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  background-color: var(--footer-subtitle-colour);
  border: none;

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
  background-color: var(--btn-background-active);
}
.modal-close-icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}
.modal-close:is(:hover, :focus) .modal-close-icon {
  fill: var(--main-background-colour);
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid var(--btn-background-colour);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--btn-background-colour);
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-commt {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-commt::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-commt:focus {
  border: 1px solid var(--btn-background-colour);
}
.input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px 32px;
  background: var(--btn-background-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  color: var(--main-background-colour);
}
.modal-input-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-commt {
  margin-bottom: 16px;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-icon-policy {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
}
.modal-field-btn {
  display: flex;
  justify-content: center;
}
.modal-field-agr {
  margin-bottom: 24px;
}
.modal-commt {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: transparent;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  resize: none;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-commt::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-commt:focus {
  border: 1px solid var(--btn-background-colour);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-policy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  margin-left: 4px;
}
.modal-policy::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  display: block;
  margin-right: 8px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-policy::before {
  left: 19px;
  background-color: var(--btn-background-active);
  border: none;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
}
